<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <head>
      <% include partials/header.ejs %>
    </head>
    <main>
      <% categories.forEach((category, key) => {%>
        <h1><%= category.name %></h1>
        <p><%= category.page_description %></p>
        <a class="btn btn-primary" href="/category/<%= category.id %>" role="button">See More</a>
      <% }); %>
    </main>  
  </body>
  <% include partials/footer.ejs %>
</html>
