<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <head>
      <% include partials/header.ejs %>
    </head>
    <main>
      <h1>Registration</h1>

      <% if(typeof errorsMessages !== 'undefined' && errorsMessages.length !== 0) { %>
        <% errorsMessages.forEach(function(error) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= error.msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
        <% }) %>
      <% } %>
      <form method="POST" action="/auth/signup">
        <div class="form-group">
          <label for="completeName">Complete name</label>
          <input type="text" class="form-control" id="completeName" placeholder="John Doe" required>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" required>
        </div>
        <div class="form-group">
          <label for="passwordConfirm">Confirm password</label>
          <input type="password" class="form-control" id="passwordConfirm" required>
        </div>
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </form>
    </main>
  </body>
  <% include partials/footer.ejs %>
</html>