<!DOCTYPE html>
<html>
  <head>
    <title>Unauthorized</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/header.ejs %>
    <main>
      <div class="container py-5">
        <div class="row">
          <div class="col-md-10">
            <h3>Unauthorized session</h3>
            <p>Sorry, your access is refused due to security reasons of our server and also our sensitive data.<br/>Please sign up to continue.</p>
          </div>
        </div>
      </div>
    </main>
  </body>
  <% include partials/footer.ejs %>
</html>